<h1><p>Problem 1</p></h1>

<p> In a school, a class has 'r' rows and every column has 'b' chairs. Every chair has a student sitting on it. Every row is assigned a decimal number 'n'. After converting the number to binary and adding leading zeroes to make the length of the number equal to 'b', each student is assigned a number '0' or '1'.</p>

<p>According to the following rule, the class is assigned a number - - If the number of students in a column, having number '1' is even, the column is assigned number '1', else it is assigned number '0'. - Thus, every column has either '1' or '0' assigned to it. - The binary number formed by the combination of numbers assigned to each column is converted to decimal form, and this number is called 'D'.</p>

<p>Given the numbers assigned to each row, your task is to find the number assigned to the class.</p>

<p>Input: The first line contains 2 space-separated integers - r and b. The next r lines contain an integer each.</p>

<p>Output: Output an integer - the number assigned to the class.</p>

<p>Constraints:</p>

<p>2<=r<=10^9 0<=n<=10^28 1<=b<=100</p>
