body {
  background-image: url(../img/back_7.jpg);
  width:100%;
  height:100%; 
}

h1 {
  text-align: center;
  color: white;
  font-family: "cf_5",Gadget,sans-serif;
}
h3 {
  text-align: center;
  color: #666666;
  font-family: "cf_5",Gadget,sans-serif;
}

@font-face {
  font-family: "cf_5";
  src: url(../fonts/cf_5.otf) format("truetype");
}

@font-face {
  font-family: "cf_3";
  src: url(../fonts/cf_3.otf) format("truetype");
}

@font-face {
  font-family: "cf_1";
  src: url(../fonts/cf_1.ttf) format("truetype");
}

#point {
    display:inline-block;
    border-radius:100%;
    height:55px;
    width:55px;     
}

.ripple1 {
    display:inline-block;
    border: 2px solid #1aaf5d;
    border-radius:100%;
    height:55px;
    width:55px;
    position:relative;
    transition:all 1.2s ease;
    -webkit-box-shadow: 0px 0px 50px #1AAF5D,inset 0px 0px 23px #8AF2B7;
    -moz-box-shadow: 0px 0px 50px #1AAF5D,inset 0px 0px 23px #8AF2B7;
    box-shadow: 0px 0px 50px #1AAF5D,inset 0px 0px 23px #8AF2B7;   
}

.ripple2 {
    display:inline-block;
    border: 2px solid #29a3cc;
    border-radius:100%;
    height:55px;
    width:55px;
    position:relative;
    transition:all 1.2s ease;
    -webkit-box-shadow: 0px 0px 50px #29a3cc,inset 0px 0px 23px #47d1ff;
    -moz-box-shadow: 0px 0px 50px #29a3cc,inset 0px 0px 23px #47d1ff;
    box-shadow: 0px 0px 50px #29a3cc,inset 0px 0px 23px #47d1ff;   
}

.ripple3 {
    display:inline-block;
    border: 2px solid #29a3cc;
    border-radius:100%;
    height:55px;
    width:55px;
    position:relative;
    transition:all 1.2s ease;
    -webkit-box-shadow: 0px 0px 50px #29a3cc,inset 0px 0px 23px #47d1ff;
    -moz-box-shadow: 0px 0px 50px #29a3cc,inset 0px 0px 23px #47d1ff;
    box-shadow: 0px 0px 50px #29a3cc,inset 0px 0px 23px #47d1ff;   
}

.ripple4 {
    display:inline-block;
    border: 2px solid #cc0000;
    border-radius:100%;
    height:55px;
    width:55px;
    position:relative;
    transition:all 1.2s ease;
    -webkit-box-shadow: 0px 0px 50px #cc0000,inset 0px 0px 23px #ff3333;
    -moz-box-shadow: 0px 0px 50px #cc0000,inset 0px 0px 23px #ff3333;
    box-shadow: 0px 0px 50px #cc0000,inset 0px 0px 23px #ff3333;   
}

.ripple5 {
    display:inline-block;
    border: 2px solid #999999;
    border-radius:100%;
    height:55px;
    width:55px;
    position:relative;
    transition:all 1.2s ease;
    -webkit-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    -moz-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;   
}

.ripple6 {
    display:inline-block;
    border: 2px solid #999999;
    border-radius:100%;
    height:55px;
    width:55px;
    position:relative;
    transition:all 1.2s ease;
    -webkit-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    -moz-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;   
}

.ripple7 {
    display:inline-block;
    border: 2px solid #999999;
    border-radius:100%;
    height:55px;
    width:55px;
    position:relative;
    transition:all 1.2s ease;
    -webkit-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    -moz-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;   
}

.ripple8 {
    display:inline-block;
    border: 2px solid #999999;
    border-radius:100%;
    height:55px;
    width:55px;
    position:relative;
    transition:all 1.2s ease;
    -webkit-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    -moz-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;   
}

.ripple9 {
    display:inline-block;
    border: 2px solid #999999;
    border-radius:100%;
    height:55px;
    width:55px;
    position:relative;
    transition:all 1.2s ease;
    -webkit-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    -moz-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;   
}

.ripple10 {
    display:inline-block;
    border: 2px solid #999999;
    border-radius:100%;
    height:55px;
    width:55px;
    position:relative;
    transition:all 1.2s ease;
    -webkit-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    -moz-box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;
    box-shadow: 0px 0px 50px #999999,inset 0px 0px 23px #cccccc;   
}

#point:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    opacity:0.5;
}

a:focus{
    outline: 0;
    border: none;
}
.btn:focus{
  outline: 0;
  border: none;
}