<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>jQuery Countdown</title>
<link rel="stylesheet" href="{% static 'timer/css/jquery.countdown.css' %}">
<style type="text/css">
body > iframe { display: none; }

#defaultCountdown { width: 0px; height: 0px; }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'timer/js/jquery.plugin.js' %}"></script>
<script src="{% static 'timer/js/jquery.countdown.js' %}"></script>
<script>

function timeOut()
{
    alert("Submission timeout!");
}


$.post( "/ncc/timer/fetch/", {}, function (data) {
	alert(data)
	$('#defaultCountdown').countdown({until: +data + 1, compact: true, 
    layout: '{hnn}{sep}{mnn}{sep}{snn}</b> {desc}', onExpiry: timeOut,
    });

});


</script>
</head>
<body>
<h1>jQuery Countdown Basics</h1>
<p>This page demonstrates the very basics of the
	<a href="http://keith-wood.name/countdown.html">jQuery Countdown plugin</a>.
	It contains the minimum requirements for using the plugin and
	can be used as the basis for your own experimentation.</p>
<p>For more detail see the <a href="http://keith-wood.name/countdownRef.html">documentation reference</a> page.</p>
<p>Counting down to 26 January <span id="year">2014</span>.</p>
<div id="defaultCountdown"></div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4715900-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
