 <!DOCTYPE html>
 {% load staticfiles %}
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ currentUser }} : submissions</title> 
          <!-- Bootstrap core CSS -->
      <link href = "{% static 'leaderboard/css/bootstrap.css' %}" rel = "stylesheet">

      <!-- Custom styles for this template -->
      <link href="{% static 'leaderboard/css/leaderboard.css' %}" rel="stylesheet">
      <script>
      function contest_timer()
      {
        var to_end;
        var xmlhttp;
         if (window.XMLHttpRequest)
          {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
          }
          else
          {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
          xmlhttp.open("GET","/ncc/timer/timeleft/",true);
          xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
          xmlhttp.send();
          xmlhttp.onreadystatechange=function()
          {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
              to_end = parseInt(xmlhttp.responseText);
            }
          }
          

          
	    setInterval(function()
	    {
        if(to_end==0)
        {
          document.getElementById("contest-timer").innerHTML= ("The contest has ended");
          return;
        }
		  to_end = to_end - 1;
          if ( isNaN(to_end) )
          {
              return;
          }
 	      var secs = Math.floor(to_end%60);
		  var mins = Math.floor((to_end/60)%60);
		  var hrs = Math.floor(to_end/3600);
		
		  var ans = toString(hrs);
		  ans += ":";
		  var ans = toString(mins);
		  ans += ":";
		  var ans = toString(secs);
		  		if(secs<=9 && mins <= 9)
		{
			document.getElementById("contest-timer").innerHTML= (hrs+":0"+mins+":0"+secs);
		}
		else if (secs<=9)
		{
			document.getElementById("contest-timer").innerHTML= (hrs+":"+mins+":0"+secs);
		}
		else if (mins<=9)
		{
			document.getElementById("contest-timer").innerHTML= (hrs+":0"+mins+":"+secs);
		}
		else
		{
			document.getElementById("contest-timer").innerHTML= (hrs+":"+mins+":"+secs);
		}
	    },1000);
      }
      </script>
    </head>

    <body onload="contest_timer()">
    <div class = "navbar-wrapper navbar-inverse navbar-fixed-top">
      <div class = "container-fluid">                               
        <a href = "../" class = "navbar-brand"><span class="glyphicon glyphicon-home"></span> NCC</a>
        <form class="navbar-form navbar-right" role="form" action="/ncc/logout/">
            <button type="submit" class="btn btn-info">Logout</button>
        </form>

        <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>

        <div class = "collapse navbar-collapse navHeaderCollapse">                               
          <ul class = "nav navbar-nav">                                       
            <li><a href = "/ncc/main/"><span class="glyphicon glyphicon-th"></span> Arena</a></li>
            <li><a href = "/ncc/main/leaderboard/"><span class="glyphicon glyphicon-tower"></span> Leaderboard </a></li>
            <li>
                      <span style="top:6px;color:#FF5555;font-weight:bold;font-size:35px;left:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      <span class = "badge" id="contest-timer" style="top:6px;color:black;font-weight:bold;font-size:32px;left:20px;"></span>
            </li>
          </ul>

        </div>

      </div>
    </div>

      

      <div style="top:8%;position:absolute;left:5%;" class="container">
        <div class="row" style="margin-left:150px;color:white;">
          <div class="col-md-10"> <br> <br>
            <h2 class="sub-header"style="text-align:center;"><font color = #9370DB>{{currentUser}}</font><br><br><font color = #9370DB>{{points}}</font> Points<br>Rank : <font color = #9370DB>{{Rank}} / {{total_users}}</font><br><br>Submissions</h2><br>
            <div class="leadertable">
              <table class="table" style="text-align:center;">
                <thead>
                  <tr>
		    <th>No.</th>
                    <th>Problem</th>
                    <th>Verdict</th>
                    <!--<th>??Time</th>-->
                  </tr>
                </thead>
                <tbody>
                 <!-- <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                    <td>sit</td>
                  </tr>
                  <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                    <td>elit</td>
                  </tr> -->
                  {% for current_submission in submissions %}
                  <tr>
		                        <td> {{ forloop.counter }} </td>
					<td>
					        {% if current_submission.PID == 1 %}  {{ Problems.0.name }}
						{% elif  current_submission.PID == 2 %} {{ Problems.1.name }}
						{% elif  current_submission.PID == 3 %} {{ Problems.2.name }}
						{% elif  current_submission.PID == 4 %} {{ Problems.3.name }}
						{% elif  current_submission.PID == 5 %} {{ Problems.4.name }}
						{% elif  current_submission.PID == 6 %} {{ Problems.5.name }}
						{% elif  current_submission.PID == 7 %} {{ Problems.6.name }}
						{% elif  current_submission.PID == 8 %} {{ Problems.7.name }}
						{% elif  current_submission.PID == 9 %} {{ Problems.8.name }}
						{% elif  current_submission.PID == 10 %} {{ Problems.9.name }}						
						{% endif %} 
					     
					</td>
					<td>
						{% if current_submission.verdict == 0 %} <font color = #228B22><b>Correct</b></font>
						{% elif  current_submission.verdict == 1 %} <font color = #FF0000><b>Wrong answer</b></font>
						{% elif  current_submission.verdict == 2 %} <font color = #FFD700><b>Compile error</b></font>
						{% elif  current_submission.verdict == 3 %} <font color = #A0522D><b>Timeout</b></font>
						{% elif  current_submission.verdict == 4 %} <font color = #20B2AA><b>Runtime Error</b></font>
						{% elif  current_submission.verdict == 6 %} <font color = #778899><b>Judgement Denied</b></font>
						{% elif  current_submission.verdict == 9 %} <font color = #FFFFFF><b>In queue</b></font>						
						{% endif %}
						
					</td>
                  </tr>
                  {% endfor %} 
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src = "{% static 'leaderboard/js/jquery-1.11.0.min.js' %}"></script>
      <script src = "{% static 'leaderboard/js/bootstrap.js' %}"></script>
    </body>
  </html>
